<template>
  <div >
    <b-button pill @click="addNew" variant="primary" class="p">เพิ่มอาคาร</b-button>
    <b-modal
      id="modal-building"
      ref="modalBuilding"
      title="อาคาร"
      @show="showModal"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <b-form @submit.stop.prevent="submit" @reset.prevent="reset">
        <b-form-group
          id="form-group-name"
          label="ชื่ออาคาร"
          label-for="building-name"
        >
          <b-form-input
            type="text"
            id="name"
            placeholder="กรอกชื่ออาคาร"
            v-model="form.name"
            :state="validateName"
            autofocus
          >
          </b-form-input>
          <b-form-invalid-feedback :state="validateName">
            ชื่ออาคารต้องมีความยาวอย่างน้อย 3 ตัวอักษร
          </b-form-invalid-feedback>
        </b-form-group>
        <b-form-group
          id="form-group-building-code"
          label="รหัสอาคาร"
          label-for="building-code"
        >
          <b-form-input
            type="text"
            id="building-code"
            placeholder="กรอกรหัสอาคาร เช่น IF CE"
            v-model="form.code"
          >
          </b-form-input>
        </b-form-group>
        <b-form-group
          id="form-group-building-level"
          label="จำนวนชั้น"
          label-for="building-level"
        >
          <b-form-input
            type="number"
            id="building-level"
            placeholder="1"
            v-model="form.level"
          >
          </b-form-input>
        </b-form-group>
      </b-form>
      <b-card>
        <pre>
        {{ form }}
      </pre
        >
      </b-card>
    </b-modal>
  </div>
</template>
<script>
export default {
  props: {
    building: Object
  },
  data () {
    return {
      form: {
        _id: '',
        name: '',
        code: '',
        level: 0
      },
      isAddNew: false
    }
  },
  computed: {
    validateName () {
      return this.form.name.length >= 3
    },

    // validatePassword () {
    //   return this.form.password !== '' && this.form.password.length >= 0
    // },
    validateForm () {
      return this.validateName
    }
  },
  methods: {
    addNew () {
      this.isAddNew = true
      this.$nextTick(() => {
        this.show()
        this.isAddNew = false
      })
    },
    show () {
      this.$refs.modalBuilding.show()
    },
    submit () {
      const building = JSON.parse(JSON.stringify(this.form))
      this.$emit('save', building)
      this.reset()
    },
    reset () {
      this.form = {
        _id: '',
        name: '',
        code: '',
        level: 0
      }
    },
    showModal () {
      if (this.isAddNew) {
        this.reset()
      } else {
        // Edit
        this.form._id = this.building._id
        this.form.name = this.building.name
        this.form.code = this.building.code
        this.form.level = this.building.level
      }
    },
    resetModal (evt) {
      this.reset()
    },
    handleOk (evt) {
      evt.preventDefault()
      if (!this.validateForm) return
      this.submit()
      this.$nextTick(() => {
        this.$bvModal.hide('modal-building')
      })
    }
  }
}
</script>
<style>
</style>
