<template>
  <div class="wrapper">
    <div class="sidebar">
      <div class="sidebar-wrapper">
        <div class="logo">
          <a href="javascript:void(0)" class="simple-text logo-normal">
            Room Booking
          </a>
        </div>
        <ul class="nav">
          <li>
            <a href="/home">
              <i class="tim-icons icon-istanbul"></i>
              <p>หน้าหลัก</p>
            </a>
          </li>
          <li>
            <a href="/listroom" v-if="isUser || isAdmin">
              <i class="tim-icons icon-bullet-list-67"></i>
              <p>จองห้อง</p>
            </a>
          </li>
          <li>
            <a href="/booking" v-if="isUser || isAdmin">
              <i class="tim-icons icon-notes"></i>
              <p>ผลการจอง</p>
            </a>
          </li>
          <li>
            <a href="/manageuser" v-if="isAdmin">
              <i class="tim-icons icon-single-02"></i>
              <p>จัดการบัญชีผู้ใช้</p>
            </a>
          </li>
          <li>
            <a href="/institution" v-if="isAdmin || isLocalAdmin">
              <i class="tim-icons icon-settings"></i>
              <p>จัดการหน่วยงาน</p>
            </a>
          </li>
          <li>
            <a href="/building" v-if="isAdmin">
              <i class="tim-icons icon-bank"></i>
              <p>จัดการอาคาร</p>
            </a>
          </li>
          <li>
            <a href="/room" v-if="isAdmin">
              <i class="tim-icons icon-globe-2"></i>
              <p>จัดการห้อง</p>
            </a>
          </li>
          <li>
            <a href="/approve" v-if="isAdmin || isApprover">
              <i class="tim-icons icon-single-copy-04"></i>
              <p>รายการคำร้อง</p>
            </a>
          </li>
          <li>
            <a href="/approver"  v-if=" isAdmin || isLocalAdmin">
              <i class="tim-icons icon-settings"></i>
              <p>จัดการลำดับผู้พิจารณา</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- navigator bar -->
    <div>
      <b-navbar toggleable="lg" type="dark" variant="info">
        <b-navbar-brand href="#">Burapha Booking</b-navbar-brand>
        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav>
          <b-navbar-nav class="ml-auto">
            <b-nav-item-dropdown text="ภาษา" right>
              <b-dropdown-item href="#">TH</b-dropdown-item>
              <b-dropdown-item href="#">EN</b-dropdown-item>
              <b-dropdown-item href="#">CN</b-dropdown-item>
              <b-dropdown-item href="#">JP</b-dropdown-item>
            </b-nav-item-dropdown>

            <b-nav-item-dropdown right>
              <!-- Using 'button-content' slot -->
              <template #button-content>
                <a>บัญชีผู้ใช้</a>
              </template>
              <b-dropdown-item href="#">บัญชีผู้ใช้</b-dropdown-item>
              <b-dropdown-item href="/">ออกจากระบบ</b-dropdown-item>
            </b-nav-item-dropdown>
          </b-navbar-nav>
        </b-collapse>
      </b-navbar>
    </div>
    <!-- End -->
    <div class="main-panel">
      <div class="content">
        <div>
          <b-container fluid>
            <b-row>
              <b-col class="text-right">
                <ApproveForm
                  :approver="selectedItem"
                  ref="ApproveForm"
                  @save="saveApprover"
                ></ApproveForm>
              </b-col>
            </b-row>
            <b-row class="center" style="padding-top: 80px">
              <b-col>
                <b-table :items="approverItems" :fields="fields" :hover="hover">
                  <template #cell(ลำดับ)="data"> {{ data.index + 1}} </template>
                  <template #cell(operators)="{ item }">
                    <b-button pill @click="editApprover(item)">แก้ไข</b-button
                    ><b-button
                      pill
                      class="ml-1"
                      variant="danger"
                      @click="deleteApprover(item)"
                      >ลบ</b-button
                    >
                  </template>
                </b-table>
              </b-col>
            </b-row>
          </b-container>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import ApproveForm from './approverForm.vue'
import axios from 'axios'
export default {
  components: {
    ApproveForm
  },
  methods: {
    makeToast (title, message, variant = 'sucess', append = false) {
      this.toastCount++
      this.$bvToast.toast(message, {
        title: title,
        variant: variant,
        autoHideDelay: 3000,
        appendToast: append
      })
    },
    saveApprover (approver) {
      console.log('Submit', approver)
      if (approver._id === '') {
        // Add New
        axios
          .post('http://localhost:3000/approvers', approver, {
            headers: {
              Authorization: 'Bearer ' + localStorage.getItem('token')
            }
          })
          .then(
            function (response) {
              this.getApprovers()
            }.bind(this)
          )
          .catch(() => {})
      } else {
        // Update
        axios
          .put('http://localhost:3000/approvers/' + approver._id, approver, {
            headers: {
              Authorization: 'Bearer ' + localStorage.getItem('token')
            }
          })
          .then(
            function (response) {
              this.getApprovers()
            }.bind(this)
          )
          .catch(() => {})
      }
    },
    editApprover (item) {
      this.selectedItem = JSON.parse(JSON.stringify(item))
      this.$nextTick(() => {
        this.$refs.ApproveForm.show()
      })
    },
    deleteApprover (approver) {
      if (confirm(`คุณต้องการจะลบห้อง ${approver._id} หรือไม่ ? `)) {
        axios
          .delete('http://localhost:3000/approvers/' + approver._id, {
            headers: {
              Authorization: 'Bearer ' + localStorage.getItem('token')
            }
          })
          .then(
            function (response) {
              this.getApprovers()
              this.makeToast('ลบสำเร็จ', 'ห้อง ' + approver._id + ' ถูกลบแล้ว')
            }.bind(this)
          )
          .catch(() => {
            this.getApprovers()
          })
      }
    },
    getApprovers (room) {
      axios
        .get('http://localhost:3000/approvers', {
          headers: {
            Authorization: 'Bearer ' + localStorage.getItem('token')
          }
        })
        .then(
          function (response) {
            console.log(response)
            this.approverItems = response.data
          }.bind(this)
        )
    }
  },
  data () {
    return {
      fields: [
        'ลำดับ',
        { key: 'name', label: 'ชือลำดับผู้พิจารณา' },
        { key: 'order1.name', label: 'ผู้พิจารณาลำดับที่ 1' },
        { key: 'order2.name', label: 'ผู้พิจารณาลำดับที่ 2' },
        { key: 'operators', label: 'การจัดการ' }
      ],
      approverItems: [],
      selectedItem: null,
      hover: true
    }
  },
  mounted () {
    this.getApprovers()
  },
  computed: {
    isUser () {
      var user = JSON.parse(localStorage.getItem('user'))
      console.log(user)
      for (let i = 0; i < user.roles.length; i++) {
        if (user.roles[i] === 'USER') {
          return true
        }
      }
      return false
    },
    isApprover () {
      var user = JSON.parse(localStorage.getItem('user'))
      console.log(user)
      for (let i = 0; i < user.roles.length; i++) {
        if (user.roles[i] === 'APPROVER') {
          return true
        }
      }
      return false
    },
    isAdmin () {
      var user = JSON.parse(localStorage.getItem('user'))
      console.log(user)
      for (let i = 0; i < user.roles.length; i++) {
        if (user.roles[i] === 'ADMIN') {
          return true
        }
      }
      return false
    },
    isLocalAdmin () {
      var user = JSON.parse(localStorage.getItem('user'))
      console.log(user)
      for (let i = 0; i < user.roles.length; i++) {
        if (user.roles[i] === 'LOCAL_ADMIN') {
          return true
        }
      }
      return false
    }
  }
}
</script>

<style>
.center {
  margin: auto;
  width: 100%;
  padding: 1%;
  background-color: white;
}
</style>
