<template>
  <div >
    <b-button pill @click="addNew" variant="primary" class="p">เพิ่มลำดับผู้พิจารณา</b-button>
    <b-modal
      id="modal-approver"
      ref="modalApprover"
      title="ลำดับผู้พิจารณา"
      @show="showModal"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <b-form @submit.stop.prevent="submit" @reset.prevent="reset">
        <b-form-group
          id="form-group-name"
          label="ชื่อ"
          label-for="approver-name"
        >
          <b-form-input
            type="text"
            id="approver-name"
            placeholder="ชื่อชุดลำดับผู้พิจารณา"
            v-model="form.name"
            :state="validateName"
            autofocus
          >
          </b-form-input>
          <b-form-invalid-feedback :state="validateName">
            ชื่อลำดับผู้พิจารณาต้องมี 3 ตัวอักษรขึ้นไป
          </b-form-invalid-feedback>
        </b-form-group>
        <b-form-group
        id="form-group-room-building"
        label="ผู้พิจารณาลำดับที่ 1"
        label-for="room-building"
        >
        <b-form-select v-model="form.order1">
          <option v-for="item in user1Items"
            :value="item._id"
            :key="item._id">
            {{ item.name }}</option>
          </b-form-select>
      </b-form-group>
      <b-form-group
        id="form-group-room-institution"
        label="ผู้พิจารณาลำดับที่ 2"
        label-for="room-institution"
        >
        <b-form-select v-model="form.order2">
          <option v-for="item in user1Items"
            :value="item._id"
            :key="item._id">
            {{ item.name }}</option>
          </b-form-select>
      </b-form-group>
      </b-form>
      <b-card>
        <pre>
        {{ form }}
      </pre
        >
      </b-card>
    </b-modal>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  props: {
    approver: Object
  },
  data () {
    return {
      form: {
        _id: '',
        name: '',
        order1: '',
        order2: ''

      },
      user1Items: [],
      isAddNew: false
    }
  },
  computed: {
    validateName () {
      return this.form.name.length >= 3
    },

    // validatePassword () {
    //   return this.form.password !== '' && this.form.password.length >= 0
    // },
    validateForm () {
      return this.validateName
    }
  },
  methods: {
    addNew () {
      this.isAddNew = true
      this.$nextTick(() => {
        this.show()
        this.isAddNew = false
      })
    },
    show () {
      this.$refs.modalApprover.show()
    },
    submit () {
      const room = JSON.parse(JSON.stringify(this.form))
      this.$emit('save', room)
      this.reset()
    },
    reset () {
      this.form = {
        _id: '',
        name: '',
        order1: '',
        order2: ''
      }
    },
    showModal () {
      if (this.isAddNew) {
        this.reset()
      } else {
        // Edit
        this.form._id = this.approver._id
        this.form.name = this.approver.name
        this.form.order1 = this.approver.order1._id
        this.form.order2 = this.approver.order2._id
      }
    },
    resetModal (evt) {
      this.reset()
    },
    handleOk (evt) {
      evt.preventDefault()
      if (!this.validateForm) return
      this.submit()
      this.$nextTick(() => {
        this.$bvModal.hide('modal-approver')
      })
    },
    getUsers () {
      axios.get('http://localhost:3000/userApprover/', {
        headers: {
          Authorization: 'Bearer ' + localStorage.getItem('token')
        }
      }).then(
        function (response) {
          console.log(response)
          this.user1Items = response.data
        }.bind(this)
      )
    }
  },
  mounted () {
    this.getUsers()
  }
}
</script>
<style>
.p {
  position: absolute;
  top: 10px;
  right: 138px;
  width: 100px;
  padding: 15px;
  border: 5;
}
</style>
