<template>
  <div>
    <b-button pill @click="addNew" variant="primary" class="p"
      >เพิ่มผู้ใช้</b-button
    >
    <b-modal
      id="modal-user"
      ref="modalUser"
      title="ผู้ใช้"
      @show="showModal"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <b-form @submit.stop.prevent="submit" @reset.prevent="reset">
        <b-form-group
          id="form-group-user-name"
          label="ชื่อผู้ใช้"
          label-for="user-name"
        >
          <b-form-input
            type="text"
            id="user-name"
            placeholder="mail@buu.ac.th"
            v-model="form.username"
            :state="validateName"
            autofocus
          >
          </b-form-input>
          <b-form-invalid-feedback :state="validateName">
            ชื่อผู้ใช้ต้องมีความยาวอย่างน้อย 3 ตัวอักษร
          </b-form-invalid-feedback>
        </b-form-group>
        <b-form-group
          id="form-group-user-pass"
          label="รหัสผ่าน"
          label-for="user-pass"
          :hidden="editUser"
        >
          <b-form-input
            type="password"
            id="user-password"
            placeholder="พาสเวิร์ดไม่น้อยกว่า 0 ตัวอักษร"
            v-model="form.password"
            :state="validatePassword"
          >
          </b-form-input>
          <b-form-invalid-feedback :state="validatePassword">
            รหัสต้องไม่น้อยกว่าหรือเท่ากับ 0
          </b-form-invalid-feedback>
        </b-form-group>
        <b-form-group id="input-group-1" label="ตำแหน่ง:" label-for="position">
          <b-form-select
            id="input-1"
            v-model="form.roles"
            :options="role"
            required
          ></b-form-select>
        </b-form-group>
        <b-form-group id="form-group-name" label="ชื่อ" label-for="name">
          <b-form-input
            type="text"
            id="name"
            placeholder="ชื่อ"
            v-model="form.name"
            autofocus
          >
          </b-form-input>
        </b-form-group>
        <b-form-group
          id="form-group-surname"
          label="นามสกุล"
          label-for="surname"
        >
          <b-form-input
            type="text"
            id="surname"
            placeholder="นามสกุล"
            v-model="form.surname"
            autofocus
          >
          </b-form-input>
        </b-form-group>
      </b-form>
      <b-card>
        <pre>
        {{ form }}
      </pre
        >
      </b-card>
    </b-modal>
  </div>
</template>
<script>
export default {
  props: {
    user: Object
  },
  data () {
    return {
      form: {
        _id: '',
        username: '',
        password: '',
        name: '',
        surname: '',
        roles: ''
      },
      role: [{ text: 'เลือก', value: null },
        { text: 'User', value: 'USER' },
        { text: 'Approver', value: 'APPROVER' },
        { text: 'Local Admin', value: 'LOCAL_ADMIN' },
        { text: 'Admin', value: 'ADMIN' }],
      isAddNew: false,
      editUser: false
    }
  },
  computed: {
    validateName () {
      return this.form.username.length >= 3
    },

    validatePassword () {
      return this.form.password !== '' && this.form.password.length >= 0
    },
    validateForm () {
      return this.validateName && this.validatepassword
    }
  },
  methods: {
    addNew () {
      this.isAddNew = true
      this.$nextTick(() => {
        this.show()
        this.isAddNew = false
      })
    },
    show () {
      this.$refs.modalUser.show()
    },
    submit () {
      const user = JSON.parse(JSON.stringify(this.form))
      this.$emit('save', user)
      this.reset()
    },
    reset () {
      this.form = {
        _id: '',
        username: '',
        password: '',
        name: '',
        surname: ''
      }
    },
    showModal () {
      if (this.isAddNew) {
        this.editUser = false
        this.reset()
      } else {
        this.editUser = true
        this.form._id = this.user._id
        this.form.username = this.user.username
        this.form.password = this.user.password
        this.form.role = this.user.role
        this.form.name = this.user.name
        this.form.surname = this.user.surname
      }
    },
    resetModal (evt) {
      this.reset()
    },
    handleOk (evt) {
      evt.preventDefault()
      this.submit()
      this.$nextTick(() => {
        this.$bvModal.hide('modal-user')
      })
    }
  }
}
</script>
<style>
.p {
  position: absolute;
  top: 10px;
  right: 138px;
  width: 100px;
  padding: 15px;
  border: 5;
}
</style>
