<template>
  <div class="wrapper">
    <div class="sidebar">
      <div class="sidebar-wrapper">
        <div class="logo">
          <a href="javascript:void(0)" class="simple-text logo-normal">
            Room Booking
          </a>
        </div>
         <ul class="nav">
          <li>
            <a href="/home">
              <i class="tim-icons icon-istanbul"></i>
              <p>หน้าหลัก</p>
            </a>
          </li>
          <li>
            <a href="/listroom" v-if="isUser || isAdmin"  >
              <i class="tim-icons icon-bullet-list-67"></i>
              <p>จองห้อง</p>
            </a>
          </li>
          <li>
            <a href="/booking" v-if="isUser || isAdmin">
              <i class="tim-icons icon-notes"></i>
              <p>ผลการจอง</p>
            </a>
          </li>
          <li>
            <a href="/manageuser" v-if=" isAdmin">
              <i class="tim-icons icon-single-02"></i>
              <p>จัดการบัญชีผู้ใช้</p>
            </a>
          </li>
          <li>
            <a href="/institution"  v-if=" isAdmin || isLocalAdmin">
              <i class="tim-icons icon-settings"></i>
              <p>จัดการหน่วยงาน</p>
            </a>
          </li>
          <li>
            <a href="/building" v-if=" isAdmin">
              <i class="tim-icons icon-bank"></i>
              <p>จัดการอาคาร</p>
            </a>
          </li>
          <li>
            <a href="/room" v-if=" isAdmin">
              <i class="tim-icons icon-globe-2"></i>
              <p>จัดการห้อง</p>
            </a>
          </li>
          <li>
            <a href="/approve" v-if=" isAdmin|| isApprover">
              <i class="tim-icons icon-single-copy-04"></i>
              <p>รายการคำร้อง</p>
            </a>
          </li>
          <li>
            <a href="/approver"  v-if=" isAdmin || isLocalAdmin">
              <i class="tim-icons icon-settings"></i>
              <p>จัดการลำดับผู้พิจารณา</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- navigator bar -->
    <div>
      <b-navbar toggleable="lg" type="dark" variant="info">
        <b-navbar-brand href="#">Burapha Booking</b-navbar-brand>
        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav>
          <b-navbar-nav class="ml-auto">
            <b-nav-item-dropdown text="ภาษา" right>
              <b-dropdown-item href="#">TH</b-dropdown-item>
              <b-dropdown-item href="#">EN</b-dropdown-item>
              <b-dropdown-item href="#">CN</b-dropdown-item>
              <b-dropdown-item href="#">JP</b-dropdown-item>
            </b-nav-item-dropdown>

            <b-nav-item-dropdown right>
              <!-- Using 'button-content' slot -->
              <template #button-content>
                <a>บัญชีผู้ใช้</a>
              </template>
              <b-dropdown-item href="#">บัญชีผู้ใช้</b-dropdown-item>
              <b-dropdown-item href="/">ออกจากระบบ</b-dropdown-item>
            </b-nav-item-dropdown>
          </b-navbar-nav>
        </b-collapse>
      </b-navbar>
    </div>
    <!-- End -->
    <div class="main-panel">
      <div class="content">
        <div>
          <b-container fluid>
            <b-row>
              <b-col class="text-right">

              </b-col>
            </b-row>
            <b-row class="center" style="padding-top: 80px">
              <b-col>
                <b-table :items="productItems" :fields="fields" :hover="hover">
                  <template #cell(ลำดับ)="data"> {{ data.index + 1}} </template>
                  <template #cell(operators)="{ item }">
                    <b-button pill @click="save(item)">อนุมัติ</b-button
                    ><b-button
                      pill
                      class="ml-1"
                      variant="danger"
                      @click="cancel(item)"
                      >ไม่อนุมัติ</b-button
                    >
                  </template>
                </b-table>
              </b-col>
            </b-row>
          </b-container>
        </div>
      </div>
    </div>
  </div>
</template>
<script>

import axios from 'axios'
export default {
  components: {

  },
  methods: {
    makeToast (title, message, variant = 'sucess', append = false) {
      this.toastCount++
      this.$bvToast.toast(message, {
        title: title,
        variant: variant,
        autoHideDelay: 3000,
        appendToast: append
      })
    },
    saveApprove (user) {
      console.log('Submit', user)
      if (user._id === '') {
        // Update
        axios
          .put('http://localhost:3000/approvelist/' + user._id, user)
          .then(
            function (response) {
              const updateUser = response.data
              this.getUsers()
              this.makeToast(
                'แก้ไขสำเร็จ',
                'คำร้อง ' + updateUser._id + ' ถูกแก้ไขแล้ว'
              )
            }.bind(this)
          )
          .catch(() => {
            this.makeToast(
              'แก้ไม่เสร็จ',
              'ไม่สามารถแก้ไข ' + user._id,
              'danger'
            )
          })
      }
    },
    editApprove (item) {
      this.selectedItem = JSON.parse(JSON.stringify(item))
      this.$nextTick(() => {
        this.$refs.userForm.show()
      })
    },
    deleteApprove (user) {
      if (confirm(`คุณต้องการจะลบคำร้อง ${user._id} หรือไม่ ? `)) {
        axios
          .delete('http://localhost:3000/approvelist/' + user.id)
          .then(
            function (response) {
              this.getUsers()
              this.makeToast('ลบสำเร็จ', 'คำร้อง ' + user._id + ' ถูกลบแล้ว')
            }.bind(this)
          )
          .catch(() => {
            this.getUsers()
            this.makeToast('ลบไม่เสร็จ', 'ไม่สามารถลบ ' + user._id, 'danger')
          })
      }
    },
    getApproves (user) {
      axios.get('http://localhost:3000/approvelist').then(
        function (response) {
          console.log(response)
          this.productItems = response.data
        }.bind(this)
      )
    },

    getApprovelistid () {
      const self = this
      console.log(localStorage.getItem('user')._id)
      axios.get('http://localhost:3000/approvelist/Approvelist/' + JSON.parse(localStorage.getItem('user'))._id, {
        headers: {
          Authorization: 'Bearer ' + localStorage.getItem('token')
        }
      }).then(
        function (response) {
          console.log(response)
          self.productItems = response.data
        }
      )
    },

    save (room) {
      console.log('save')
      axios.post('http://localhost:3000/approvelist/approved', { _id: room._id }, {
        headers: {
          Authorization: 'Bearer ' + localStorage.getItem('token')
        }
      }).then((response) => {
        console.log(response)
      })
      this.$router.go(0)
    },
    cancel (room) {
      console.log('cancel')
      axios.post('http://localhost:3000/approvelist/cancel', { _id: room._id }, {
        headers: {
          Authorization: 'Bearer ' + localStorage.getItem('token')
        }
      }).then((response) => {
        console.log(response)
      })
      this.$router.go(0)
    }
  },
  data () {
    return {
      fields: [
        'ลำดับ',
        { key: 'status', label: 'สถานะ' },
        { key: 'booking.name', label: 'ชื่อผู้จอง' },
        { key: 'booking.desc', label: 'คำอธิบาย' },
        { key: 'operators', label: 'กระบวนการ' }
      ],
      productItems: [],
      selectedItem: null,
      hover: true
    }
  },
  mounted () {
    this.getApprovelistid()
  },
  computed: {
    isUser () {
      var user = JSON.parse(localStorage.getItem('user'))
      console.log(user)
      for (let i = 0; i < user.roles.length; i++) {
        if (user.roles[i] === 'USER') {
          return true
        }
      }
      return false
    },
    isApprover () {
      var user = JSON.parse(localStorage.getItem('user'))
      console.log(user)
      for (let i = 0; i < user.roles.length; i++) {
        if (user.roles[i] === 'APPROVER') {
          return true
        }
      }
      return false
    },
    isAdmin () {
      var user = JSON.parse(localStorage.getItem('user'))
      console.log(user)
      for (let i = 0; i < user.roles.length; i++) {
        if (user.roles[i] === 'ADMIN') {
          return true
        }
      }
      return false
    },
    isLocalAdmin () {
      var user = JSON.parse(localStorage.getItem('user'))
      console.log(user)
      for (let i = 0; i < user.roles.length; i++) {
        if (user.roles[i] === 'LOCAL_ADMIN') {
          return true
        }
      }
      return false
    }
  }
}
</script>
<style>
.center {
  margin: auto;
  width: 100%;
  padding: 1%;
  background-color: white;
}
</style>
