<template>
  <div class="wrapper">
    <div class="sidebar">
      <div class="sidebar-wrapper">
        <div class="logo">
          <a href="javascript:void(0)" class="simple-text logo-normal">
            Room Booking
          </a>
        </div>
        <ul class="nav">
          <li>
            <a href="/home">
              <i class="tim-icons icon-istanbul"></i>
              <p>หน้าหลัก</p>
            </a>
          </li>
          <li>
            <a href="/listroom" v-if="isUser || isAdmin"  >
              <i class="tim-icons icon-bullet-list-67"></i>
              <p>จองห้อง</p>
            </a>
          </li>
          <li>
            <a href="/booking" v-if="isUser || isAdmin">
              <i class="tim-icons icon-notes"></i>
              <p>ผลการจอง</p>
            </a>
          </li>
          <li>
            <a href="/manageuser" v-if=" isAdmin">
              <i class="tim-icons icon-single-02"></i>
              <p>จัดการบัญชีผู้ใช้</p>
            </a>
          </li>
          <li>
            <a href="/institution"  v-if=" isAdmin || isLocalAdmin">
              <i class="tim-icons icon-settings"></i>
              <p>จัดการหน่วยงาน</p>
            </a>
          </li>
          <li>
            <a href="/building" v-if=" isAdmin">
              <i class="tim-icons icon-bank"></i>
              <p>จัดการอาคาร</p>
            </a>
          </li>
          <li>
            <a href="/room" v-if=" isAdmin">
              <i class="tim-icons icon-globe-2"></i>
              <p>จัดการห้อง</p>
            </a>
          </li>
          <li>
            <a href="/approve" v-if=" isAdmin|| isApprover">
              <i class="tim-icons icon-single-copy-04"></i>
              <p>รายการคำร้อง</p>
            </a>
          </li>
          <li>
            <a href="/approver"  v-if=" isAdmin || isLocalAdmin">
              <i class="tim-icons icon-settings"></i>
              <p>จัดการลำดับผู้พิจารณา</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- navigator bar -->
    <div>
      <b-navbar toggleable="lg" type="dark" variant="info">
        <b-navbar-brand href="#">Burapha Booking</b-navbar-brand>
        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav>
          <b-navbar-nav class="ml-auto">
            <b-nav-item-dropdown text="ภาษา" right>
              <b-dropdown-item href="#">TH</b-dropdown-item>
              <b-dropdown-item href="#">EN</b-dropdown-item>
              <b-dropdown-item href="#">CN</b-dropdown-item>
              <b-dropdown-item href="#">JP</b-dropdown-item>
            </b-nav-item-dropdown>

            <b-nav-item-dropdown right>
              <!-- Using 'button-content' slot -->
              <template #button-content>
                <a>บัญชีผู้ใช้</a>
              </template>
              <b-dropdown-item href="#">บัญชีผู้ใช้</b-dropdown-item>
              <b-dropdown-item href="/">ออกจากระบบ</b-dropdown-item>
            </b-nav-item-dropdown>
          </b-navbar-nav>
        </b-collapse>
      </b-navbar>
    </div>
    <!-- End -->
    <div class="main-panel">
      <div class="content">
        <div>
          <b-container fluid>
            <b-row>
              <b-col class="text-right">

              </b-col>
            </b-row>
            <b-row class="center" style="padding-top: 80px">
              <b-col>
                <b-table :items="productItems" :fields="fields" :hover="hover">
                  <template #cell(ลำดับ)="data"> {{ data.index + 1}} </template>
                  <template #cell(operators)="{ item }">
                    <b-button
                      pill
                      class="ml-1"
                      variant="danger"
                      @click="deleteApprovelist(item)"
                      >ยกเลิกการจอง</b-button
                    >
                  </template>
                </b-table>
              </b-col>
            </b-row>
          </b-container>
        </div>
      </div>
    </div>
  </div>
</template>
<script>

import axios from 'axios'
export default {
  components: {

  },
  methods: {
    makeToast (title, message, variant = 'sucess', append = false) {
      this.toastCount++
      this.$bvToast.toast(message, {
        title: title,
        variant: variant,
        autoHideDelay: 3000,
        appendToast: append
      })
    },
    deleteApprovelist (item) {
      if (confirm(`คุณต้องการยกเลิกการจองนี้หรือไม่ ${item._id} หรือไม่ ? `)) {
        const booking = item.booking._id
        axios
          .delete('http://localhost:3000/approvelist/' + item._id)
          .then(
            function (response) {
              this.getUsers()
            }.bind(this)
          )
          .catch(() => {
            this.getUsers()
          })
        axios
          .delete('http://localhost:3000/bookings/' + booking)
          .then(
            function (response) {
              this.getUsers()
            }.bind(this)
          )
          .catch(() => {
            this.getUsers()
          })
      }
    },
    getApprovelist (user) {
      axios.get('http://localhost:3000/approvelist').then(
        function (response) {
          console.log(response)
          this.productItems = response.data
        }.bind(this)
      )
    }
  },
  data () {
    return {
      fields: [
        'ลำดับ',
        { key: 'booking.name', label: 'ชื่อ-สกุล' },
        { key: 'booking.room.name', label: 'ห้อง' },
        { key: 'status', label: 'สถานะ' },
        { key: 'operators', label: 'กระบวนการ' }
      ],
      productItems: [],
      selectedItem: null,
      hover: true
    }
  },
  mounted () {
    this.getApprovelist()
  },
  computed: {
    isUser () {
      var user = JSON.parse(localStorage.getItem('user'))
      console.log(user)
      for (let i = 0; i < user.roles.length; i++) {
        if (user.roles[i] === 'USER') {
          return true
        }
      }
      return false
    },
    isApprover () {
      var user = JSON.parse(localStorage.getItem('user'))
      console.log(user)
      for (let i = 0; i < user.roles.length; i++) {
        if (user.roles[i] === 'APPROVER') {
          return true
        }
      }
      return false
    },
    isAdmin () {
      var user = JSON.parse(localStorage.getItem('user'))
      console.log(user)
      for (let i = 0; i < user.roles.length; i++) {
        if (user.roles[i] === 'ADMIN') {
          return true
        }
      }
      return false
    },
    isLocalAdmin () {
      var user = JSON.parse(localStorage.getItem('user'))
      console.log(user)
      for (let i = 0; i < user.roles.length; i++) {
        if (user.roles[i] === 'LOCAL_ADMIN') {
          return true
        }
      }
      return false
    }
  }
}
</script>
<style>
.center {
  margin: auto;
  width: 100%;
  padding: 1%;
  background-color: white;
}
</style>
