<template>
  <div class="wrapper">
    <div class="sidebar">
      <div class="sidebar-wrapper">
        <div class="logo">
          <a href="javascript:void(0)" class="simple-text logo-normal">
            Room Booking
          </a>
        </div>
        <ul class="nav">
          <li>
            <a href="/home">
              <i class="tim-icons icon-istanbul"></i>
              <p>หน้าหลัก</p>
            </a>
          </li>
          <li>
            <a href="/listroom" v-if="isUser || isAdmin"  >
              <i class="tim-icons icon-bullet-list-67"></i>
              <p>จองห้อง</p>
            </a>
          </li>
          <li>
            <a href="/booking" v-if="isUser || isAdmin">
              <i class="tim-icons icon-notes"></i>
              <p>ผลการจอง</p>
            </a>
          </li>
          <li>
            <a href="/manageuser" v-if=" isAdmin">
              <i class="tim-icons icon-single-02"></i>
              <p>จัดการบัญชีผู้ใช้</p>
            </a>
          </li>
          <li>
            <a href="/institution"  v-if=" isAdmin || isLocalAdmin">
              <i class="tim-icons icon-settings"></i>
              <p>จัดการหน่วยงาน</p>
            </a>
          </li>
          <li>
            <a href="/building" v-if=" isAdmin">
              <i class="tim-icons icon-bank"></i>
              <p>จัดการอาคาร</p>
            </a>
          </li>
          <li>
            <a href="/room" v-if=" isAdmin">
              <i class="tim-icons icon-globe-2"></i>
              <p>จัดการห้อง</p>
            </a>
          </li>
          <li>
            <a href="/approve" v-if=" isAdmin|| isApprover">
              <i class="tim-icons icon-single-copy-04"></i>
              <p>รายการคำร้อง</p>
            </a>
          </li>
          <li>
            <a href="/approver"  v-if=" isAdmin || isLocalAdmin">
              <i class="tim-icons icon-settings"></i>
              <p>จัดการลำดับผู้พิจารณา</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- navigator bar -->
    <div class="main-panel">
      <div>
        <b-navbar toggleable="lg" type="dark" variant="info">
          <b-navbar-brand href="#">Burapha Booking</b-navbar-brand>

          <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

          <b-collapse id="nav-collapse" is-nav>
            <!-- <b-navbar-nav>
        <b-nav-item href="#">Link</b-nav-item>
        <b-nav-item href="#" disabled>Disabled</b-nav-item>
      </b-navbar-nav> -->

            <!-- Right aligned nav items -->
            <b-navbar-nav class="ml-auto">
              <b-nav-item-dropdown text="ภาษา" right>
                <b-dropdown-item href="#">TH</b-dropdown-item>
                <b-dropdown-item href="#">EN</b-dropdown-item>
                <b-dropdown-item href="#">CN</b-dropdown-item>
                <b-dropdown-item href="#">JP</b-dropdown-item>
              </b-nav-item-dropdown>

              <b-nav-item-dropdown right>
                <!-- Using 'button-content' slot -->
                <template #button-content>
                  <a>บัญชีผู้ใช้</a>
                </template>
                <b-dropdown-item href="#">บัญชีผู้ใช้</b-dropdown-item>
                <b-dropdown-item href="/">ออกจากระบบ</b-dropdown-item>
              </b-nav-item-dropdown>
            </b-navbar-nav>
          </b-collapse>
        </b-navbar>
      </div>
      <!-- End Navbar -->
      <!-- body -->
      <div class="content">
        <div>
          <b-carousel
            id="carousel-1"
            v-model="slide"
            :interval="4000"
            controls
            indicators
            background="#ababab"
            img-width="1024"
            img-height="480"
            style="text-shadow: 1px 1px 2px #333"
            @sliding-start="onSlideStart"
            @sliding-end="onSlideEnd"
          >
            <!-- Text slides with image -->
            <b-carousel-slide
              img-src="https://www.img.in.th/images/3b918e5f083524849a29104870199af4.png"
            ></b-carousel-slide>

            <!-- Slides with custom text -->
            <b-carousel-slide
              img-src="https://www.img.in.th/images/f42afebde0b2afa9cdcf99381c2c70f0.jpg"
            >
            </b-carousel-slide>

            <!-- Slides with image only -->
            <b-carousel-slide
              img-src="https://www.img.in.th/images/c76b0bc1061313f9238393869a8ef975.jpg"
            ></b-carousel-slide>
            <!-- Slides with img slot -->
            <!-- Note the classes .d-block and .img-fluid to prevent browser default image alignment -->
          </b-carousel>

          <p class="mt-4"></p>
        </div>
      </div>
      <!-- end body -->
    </div>
  </div>
</template>
<script>
export default {
  data () {
    return {
      slide: 0,
      sliding: null
    }
  },
  methods: {
    onSlideStart (slide) {
      this.sliding = true
    },
    onSlideEnd (slide) {
      this.sliding = false
    }
  },
  computed: {
    isUser () {
      var user = JSON.parse(localStorage.getItem('user'))
      console.log(user)
      for (let i = 0; i < user.roles.length; i++) {
        if (user.roles[i] === 'USER') {
          return true
        }
      }
      return false
    },
    isApprover () {
      var user = JSON.parse(localStorage.getItem('user'))
      console.log(user)
      for (let i = 0; i < user.roles.length; i++) {
        if (user.roles[i] === 'APPROVER') {
          return true
        }
      }
      return false
    },
    isAdmin () {
      var user = JSON.parse(localStorage.getItem('user'))
      console.log(user)
      for (let i = 0; i < user.roles.length; i++) {
        if (user.roles[i] === 'ADMIN') {
          return true
        }
      }
      return false
    },
    isLocalAdmin () {
      var user = JSON.parse(localStorage.getItem('user'))
      console.log(user)
      for (let i = 0; i < user.roles.length; i++) {
        if (user.roles[i] === 'LOCAL_ADMIN') {
          return true
        }
      }
      return false
    }
  }
}
</script>
