<template>
  <div class="wrapper">
    <div class="sidebar">
      <div class="sidebar-wrapper">
        <div class="logo">
          <a href="javascript:void(0)" class="simple-text logo-normal">
            Room Booking
          </a>
        </div>
        <ul class="nav">
          <li>
            <a href="/home">
              <i class="tim-icons icon-istanbul"></i>
              <p>หน้าหลัก</p>
            </a>
          </li>
          <li>
            <a href="/listroom" v-if="isUser || isAdmin">
              <i class="tim-icons icon-bullet-list-67"></i>
              <p>จองห้อง</p>
            </a>
          </li>
          <li>
            <a href="/booking" v-if="isUser || isAdmin">
              <i class="tim-icons icon-notes"></i>
              <p>ผลการจอง</p>
            </a>
          </li>
          <li>
            <a href="/manageuser" v-if="isAdmin">
              <i class="tim-icons icon-single-02"></i>
              <p>จัดการบัญชีผู้ใช้</p>
            </a>
          </li>
          <li>
            <a href="/institution" v-if="isAdmin || isLocalAdmin">
              <i class="tim-icons icon-settings"></i>
              <p>จัดการหน่วยงาน</p>
            </a>
          </li>
          <li>
            <a href="/building" v-if="isAdmin">
              <i class="tim-icons icon-bank"></i>
              <p>จัดการอาคาร</p>
            </a>
          </li>
          <li>
            <a href="/room" v-if="isAdmin">
              <i class="tim-icons icon-globe-2"></i>
              <p>จัดการห้อง</p>
            </a>
          </li>
          <li>
            <a href="/approve" v-if="isAdmin || isApprover">
              <i class="tim-icons icon-single-copy-04"></i>
              <p>รายการคำร้อง</p>
            </a>
          </li>
          <li>
            <a href="/approver"  v-if=" isAdmin || isLocalAdmin">
              <i class="tim-icons icon-settings"></i>
              <p>จัดการลำดับผู้พิจารณา</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- navigator bar -->
    <div class="main-panel">
      <div>
        <b-navbar toggleable="lg" type="dark" variant="info">
          <b-navbar-brand href="#">Burapha Booking</b-navbar-brand>

          <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

          <b-collapse id="nav-collapse" is-nav>
            <!-- <b-navbar-nav>
        <b-nav-item href="#">Link</b-nav-item>
        <b-nav-item href="#" disabled>Disabled</b-nav-item>
      </b-navbar-nav> -->

            <!-- Right aligned nav items -->
            <b-navbar-nav class="ml-auto">
              <b-nav-item-dropdown text="ภาษา" right>
                <b-dropdown-item href="#">TH</b-dropdown-item>
                <b-dropdown-item href="#">EN</b-dropdown-item>
                <b-dropdown-item href="#">CN</b-dropdown-item>
                <b-dropdown-item href="#">JP</b-dropdown-item>
              </b-nav-item-dropdown>

              <b-nav-item-dropdown right>
                <!-- Using 'button-content' slot -->
                <template #button-content>
                  <a>บัญชีผู้ใช้</a>
                </template>
                <b-dropdown-item href="#">บัญชีผู้ใช้</b-dropdown-item>
                <b-dropdown-item href="/">ออกจากระบบ</b-dropdown-item>
              </b-nav-item-dropdown>
            </b-navbar-nav>
          </b-collapse>
        </b-navbar>
      </div>
      <!-- End Navbar -->
      <!-- body -->
      <div class="content">
        <div>
          <b-card class="mt-3" header="จองห้อง">
            <b-form @submit="onSubmit" @reset="onReset" v-if="show">
              <b-form-group
                id="input-group-1"
                label="ชื่อ-นามสกุล"
                label-for="input-1"
                description="กรุณากรอกชื่อ-นามสกุล เป็นภาษาไทย"
              >
                <b-form-input
                  id="input-1"
                  v-model="form.name"
                  type="email"
                  placeholder="กรอกชื่อ - นามสกุล"
                  required
                ></b-form-input>
              </b-form-group>

              <b-form-group
                id="input-group-2"
                label="อีเมล:"
                label-for="input-2"
                description="กรุณาใช้อีเมล @buu.ac.th เท่านั้น"
              >
                <b-form-input
                  id="input-2"
                  v-model="form.email"
                  placeholder="อีเมล"
                  required
                ></b-form-input>
              </b-form-group>
              <b-form-group
                id="input-group-5"
                label="รายละเอียด:"
                label-for="input-5"
                description="กรุณาใช้อีเมล @buu.ac.th เท่านั้น"
              >
                <b-form-input
                  id="input-5"
                  v-model="form.desc"
                  placeholder="รายละเอียด"
                  required
                ></b-form-input>
              </b-form-group>

              <b-form-group
                id="input-group-3"
                label="อาคาร:"
                label-for="input-3"
              >
                <b-form-select v-model="form.building">
                  <option
                    v-for="item in buildingItems"
                    :value="item._id"
                    :key="item._id"
                  >
                    {{ item.name }}
                  </option>
                </b-form-select>
              </b-form-group>

              <b-form-group
                id="input-group-3"
                label="ห้อง:"
                label-for="input-3"
              >
                <b-form-select v-model="form.room" @change="ready($event)">
                  <option
                    v-for="item in roomItems"
                    :value="item._id"
                    :key="item._id"
                  >
                    {{ item.name }}
                  </option>
                </b-form-select>
              </b-form-group>
              <!-- end body -->
              <!-- Calendar -->
              <div>
                <b-container>
                  <b-row>
                    <b-col>
                      <b-form-group label="วันที่และเวลา"></b-form-group>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col>
                      <label for="start-date">วันเริ่มต้น</label
                      ><b-form-datepicker
                        id="start-date"
                        v-model="form.startDate"
                        class="mb-2"
                        locale="th"
                      ></b-form-datepicker>
                    </b-col>
                    <b-col>
                      <label for="start-time">เวลาเริ่มต้น</label>
                      <b-form-timepicker
                        id="start-time"
                        v-model="form.startTime"
                        locale="th"
                      ></b-form-timepicker>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col>
                      <label for="end-date">วันสิ้นสุด</label
                      ><b-form-datepicker
                        id="end-date"
                        v-model="form.endDate"
                        class="mb-2"
                        locale="th"
                      ></b-form-datepicker>
                    </b-col>
                    <b-col>
                      <label for="end-time">เวลาสิ้นสุด</label>
                      <b-form-timepicker
                        id="emd-time"
                        v-model="form.endTime"
                        locale="th"
                      ></b-form-timepicker>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col>
                      <vue-cal
                        :locale="th"
                        active-view="week"
                        :events="events"
                        @ready="ready($event)"
                        @view-change="viewChange($event)"
                      />
                    </b-col>
                  </b-row>
                </b-container>
              </div>
              <b-button type="submit" variant="primary" @click="addEvent"
                >Submit</b-button
              >
              <b-button type="reset" variant="danger">Reset</b-button>
            </b-form>
          </b-card>
        </div>
      </div>
    </div>
    <!-- end Calender -->
  </div>
</template>
<script>
import VueCal from 'vue-cal'
import 'vue-cal/dist/vuecal.css'
import th from '../locale/th'
// import { getEvents } from '../services/event'
import axios from 'axios'
export default {
  data () {
    return {
      form: {
        email: '',
        name: '',
        desc: '',
        building: '',
        room: '',
        startDate: '',
        endDate: '',
        startTime: '',
        endTime: ''
      },
      formApp: {
        booking: '',
        user_id: ''
      },
      events: [],
      buildingItems: [],
      institutionItems: [],
      roomItems: [],
      show: true,
      pickRoom: false
    }
  },
  methods: {
    onSubmit (event) {
      event.preventDefault()
      alert(JSON.stringify(this.form))
    },
    onReset (event) {
      event.preventDefault()
      // Reset our form values
      this.form.email = ''
      this.form.name = ''
      this.form.building = null
      this.form.checked = []
      // Trick to reset/clear native browser form validation state
      this.show = false
      this.$nextTick(() => {
        this.show = true
      })
    },
    addEvent () {
      axios
        .post('http://localhost:3000/bookings', this.form, {
          headers: {
            Authorization: 'Bearer ' + localStorage.getItem('token')
          }
        })
        .then(function (response) {
          const newbooking = response.data
          console.log(newbooking.room)
          axios
            .get('http://localhost:3000/rooms/' + newbooking.room, {
              headers: {
                Authorization: 'Bearer ' + localStorage.getItem('token')
              }
            })
            .then(function (res) {
              console.log(res.data.approver)
              axios
                .get('http://localhost:3000/approvers/' + res.data.approver, {
                  headers: {
                    Authorization: 'Bearer ' + localStorage.getItem('token')
                  }
                })
                .then(function (res2) {
                  const app = {
                    booking: newbooking._id,
                    user_id: res2.data.order1
                  }
                  axios
                    .post('http://localhost:3000/approvelist', app, {
                      headers: {
                        Authorization: 'Bearer ' + localStorage.getItem('token')
                      }
                    })
                    .then(function (res3) {
                      console.log(res3)
                    })
                })
            })
        })
        .catch(() => {})
    },
    getBuildings () {
      axios
        .get('http://localhost:3000/buildings', {
          headers: {
            Authorization: 'Bearer ' + localStorage.getItem('token')
          }
        })
        .then(
          function (response) {
            console.log(response)
            this.buildingItems = response.data
          }.bind(this)
        )
    },
    getRooms (room) {
      axios
        .get('http://localhost:3000/rooms', {
          headers: {
            Authorization: 'Bearer ' + localStorage.getItem('token')
          }
        })
        .then(
          function (response) {
            console.log(response)
            this.roomItems = response.data
          }.bind(this)
        )
    },
    async ready (e) {
      console.log('ready', e)
      axios.get('http://localhost:3000/bookings/BookingTime/' + this.form.room, {
        headers: {
          Authorization: 'Bearer ' + localStorage.getItem('token')
        }
      }).then((response) => {
        const newEvent = []
        for (let i = 0; i < response.data.length; i++) {
          const event = response.data[i]
          newEvent.push({
            start: new Date(event.startDate),
            end: new Date(event.endDate),
            title: '',
            class: 'if'
          })
        }
        this.events = newEvent
      })
    },
    async viewChange (e) {
      console.log('view-change', e)
      axios.get('http://localhost:3000/bookings/BookingTime/' + this.form.room, {
        headers: {
          Authorization: 'Bearer ' + localStorage.getItem('token')
        }
      }).then((response) => {
        const newEvent = []
        for (let i = 0; i < response.data.length; i++) {
          const event = response.data[i]
          newEvent.push({
            start: new Date(event.startDate),
            end: new Date(event.endDate),
            title: '',
            class: 'if'
          })
        }
        this.events = newEvent
      })
    }
  },
  computed: {
    th () {
      return th
    },
    isUser () {
      var user = JSON.parse(localStorage.getItem('user'))
      console.log(user)
      for (let i = 0; i < user.roles.length; i++) {
        if (user.roles[i] === 'USER') {
          return true
        }
      }
      return false
    },
    isApprover () {
      var user = JSON.parse(localStorage.getItem('user'))
      console.log(user)
      for (let i = 0; i < user.roles.length; i++) {
        if (user.roles[i] === 'APPROVER') {
          return true
        }
      }
      return false
    },
    isAdmin () {
      var user = JSON.parse(localStorage.getItem('user'))
      console.log(user)
      for (let i = 0; i < user.roles.length; i++) {
        if (user.roles[i] === 'ADMIN') {
          return true
        }
      }
      return false
    },
    isLocalAdmin () {
      var user = JSON.parse(localStorage.getItem('user'))
      console.log(user)
      for (let i = 0; i < user.roles.length; i++) {
        if (user.roles[i] === 'LOCAL_ADMIN') {
          return true
        }
      }
      return false
    }
  },
  components: {
    VueCal
  },
  mounted () {
    this.getBuildings()
    this.getRooms()
  }
}
</script>
<style>
.vuecal__event.if {background-color: rgba(0, 156, 66, 0.9);border: 1px solid rgb(0, 136, 46);color: #fff;}
.vuecal__event.sci {background-color: rgba(255, 102, 102, 0.9);border: 1px solid rgb(235, 82, 82);color: #fff;}
</style>
