<template>
<body style="padding-top:171px">
   <div id="card">
    <div id="card-content">
      <div id="card-title">
        <h2>เข้าสู่ระบบ</h2>
        <div class="underline-title"></div>
      </div>
      <form method="post" class="form" @submit="onSubmit" v-if="show">
        <label for="user-email" style="padding-top:13px">
            &nbsp;ชื่อผู้ใช้งาน
          </label>
        <input id="input-1" v-model="form.email" class="form-content" placeholder="ที่อยู่อีเมล" type="email" name="email" autocomplete="on" required />

        <div class="form-border"></div>
        <label for="user-password" style="padding-top:22px">&nbsp;รหัสผ่าน
          </label>
        <input id="input-2" class="form-content" v-model="form.password" type="password" placeholder="รหัสผ่าน" name="password" required />
        <div class="form-border"></div>
        <a href="#">
          <legend id="forgot-pass">ลืมรหัสผ่าน?</legend>
        </a>
        <input id="submit-btn" type="submit" name="submit" value="เข้าสู่ระบบ" />
        <a href="#" id="signup">ไม่มีบัญชีผู้ใช้งาน?</a>
      </form>
    </div>
    <router-view/>
  </div>
  <div style="padding-top: 1px">
  </div>
              <!-- {{ $store.state.auth.user }}
            {{ $store.getters['auth/isLogin'] }} -->

</body>
</template>

<style>
  body {
    background: -webkit-linear-gradient(bottom, #ffbb00, #616261);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: block;
    position: bottom;
    top: 0;
  }
</style>
<script>
export default {
  data () {
    return {
      form: {
        email: '',
        password: ''
      },
      show: true
    }
  },
  methods: {
    onSubmit (event) {
      event.preventDefault()
      // alert(JSON.stringify(this.form))
      this.$store.dispatch('auth/login', this.form)
    },
    onReset (event) {
      event.preventDefault()
      // Reset our form values
      this.form.email = ''
      this.form.password = ''
      // Trick to reset/clear native browser form validation state
      this.show = false
      this.$nextTick(() => {
        this.show = true
      })
    }
  }
}
</script>
