<template>
  <div >
    <b-button pill @click="addNew" variant="primary" class="p">เพิ่มห้อง</b-button>
    <b-modal
      id="modal-room"
      ref="modalRoom"
      title="ห้อง"
      @show="showModal"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <b-form @submit.stop.prevent="submit" @reset.prevent="reset">
        <b-form-group
          id="form-group-name"
          label="ชื่อ"
          label-for="Room-name"
        >
          <b-form-input
            type="text"
            id="room-name"
            placeholder="ชื่อ-รหัสห้อง"
            v-model="form.name"
            :state="validateName"
            autofocus
          >
          </b-form-input>
          <b-form-invalid-feedback :state="validateName">
            ชื่อห้องต้องมี 5 ตัวอักษรขึ้นไป
          </b-form-invalid-feedback>
        </b-form-group>
        <b-form-group
          id="form-group-room-desc"
          label="อุปกรณ์"
          label-for="room-desc"
        >
          <b-form-input
            type="text"
            id="room-desc"
            placeholder="จอ,เก้าอี้,คอมพิวเตอร์,ไมค์,ลำโพง"
            v-model="form.desc"
          >
          </b-form-input>
        </b-form-group>
        <b-form-group
          id="form-group-room-capacity"
          label="ความจุ"
          label-for="room-capacity"
        >
          <b-form-input
            type="number"
            id="room-capacity"
            placeholder="10"
            v-model="form.capacity"
          >
          </b-form-input>
        </b-form-group>
        <b-form-group
        id="form-group-room-building"
        label="อาคาร"
        label-for="room-building"
        >
        <b-form-select v-model="form.building">
          <option v-for="item in buildingItems"
            :value="item._id"
            :key="item._id">
            {{ item.name }}</option>
          </b-form-select>
      </b-form-group>
      <b-form-group
        id="form-group-room-institution"
        label="คณะ"
        label-for="room-institution"
        >
        <b-form-select v-model="form.institution">
          <option v-for="item in institutionItems"
            :value="item._id"
            :key="item._id">
            {{ item.name }}</option>
          </b-form-select>
      </b-form-group>
      <b-form-group
        id="form-group-room-approver"
        label="ผู้พิจารณา"
        label-for="room-approver"
        >
        <b-form-select v-model="form.approver">
          <option v-for="item in approverItems"
            :value="item._id"
            :key="item._id">
            {{ item.name }}</option>
          </b-form-select>
      </b-form-group>
      </b-form>
      <b-card>
        <pre>
        {{ form }}
      </pre
        >
      </b-card>
    </b-modal>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  props: {
    room: Object
  },
  data () {
    return {
      form: {
        _id: '',
        name: '',
        desc: '',
        capacity: 10,
        building: '',
        institution: '',
        approver: ''

      },
      buildingItems: [],
      institutionItems: [],
      approverItems: [],
      isAddNew: false
    }
  },
  computed: {
    validateName () {
      return this.form.name.length >= 5
    },

    // validatePassword () {
    //   return this.form.password !== '' && this.form.password.length >= 0
    // },
    validateForm () {
      return this.validateName
    }
  },
  methods: {
    addNew () {
      this.isAddNew = true
      this.$nextTick(() => {
        this.show()
        this.isAddNew = false
      })
    },
    show () {
      this.$refs.modalRoom.show()
    },
    submit () {
      const room = JSON.parse(JSON.stringify(this.form))
      this.$emit('save', room)
      this.reset()
    },
    reset () {
      this.form = {
        _id: '',
        name: '',
        desc: '',
        capacity: 10,
        building: '',
        institution: '',
        approver: ''
      }
    },
    showModal () {
      if (this.isAddNew) {
        this.reset()
      } else {
        // Edit
        this.form._id = this.room._id
        this.form.name = this.room.name
        this.form.desc = this.room.desc
        this.form.capacity = this.room.capacity
        this.form.building = this.room.building._id
        this.form.institution = this.room.institution._id
        this.form.approver = this.room.approver._id
      }
    },
    resetModal (evt) {
      this.reset()
    },
    handleOk (evt) {
      evt.preventDefault()
      if (!this.validateForm) return
      this.submit()
      this.$nextTick(() => {
        this.$bvModal.hide('modal-room')
      })
    },
    getBuildings () {
      axios.get('http://localhost:3000/buildings', {
        headers: {
          Authorization: 'Bearer ' + localStorage.getItem('token')
        }
      }).then(
        function (response) {
          console.log(response)
          this.buildingItems = response.data
        }.bind(this)
      )
    },
    getInstitution () {
      axios.get('http://localhost:3000/institutions', {
        headers: {
          Authorization: 'Bearer ' + localStorage.getItem('token')
        }
      }).then(
        function (response) {
          console.log(response)
          this.institutionItems = response.data
        }.bind(this)
      )
    },
    getApprovers () {
      axios.get('http://localhost:3000/approvers', {
        headers: {
          Authorization: 'Bearer ' + localStorage.getItem('token')
        }
      }).then(
        function (response) {
          console.log(response)
          this.approverItems = response.data
        }.bind(this)
      )
    }
  },
  mounted () {
    this.getBuildings()
    this.getInstitution()
    this.getApprovers()
  }
}
</script>
<style>
.p {
  position: absolute;
  top: 10px;
  right: 138px;
  width: 100px;
  padding: 15px;
  border: 5;
}
</style>
